page-order {
    .list-header,.item.item-block .item-inner,.list > .item-block:last-child, .list > .item-wrapper:last-child .item-block{
        border:0;
    }

    .txt_float{
        float:left;
    }

    .item{

        .list-header h2{
            @include app-font(52,bold);
        }

        .list-header h3{
            @include app-font(62,bold);
        }

        .item-inner h3{
            @include app-font(40);

            .icon{
                @include app-font(38);
                margin-left:16px;
            }
        }
        p.sub_txt{
            @include app-font(32);
            width:100%;
        }
    }

    .btn_pay{
        float:right;
    }

    .item-divider{
        background-color:initial;

        img{
            width:100%;
            height:140px;
        }
    }

    .content .orderHistory_list{

        .order_history{
            .label{
                margin:0;
            }

            ion-thumbnail{
                min-height:0px;
            }
        }
        

        .order_status{
            @include app-font(36);
        }
    }
}
