
body{
    font-family:$font-face;
    margin:0;
    padding:0;
}

.no-scroll .scroll-content{
    overflow:hidden;
}

.list{
    .item-ios,.item-md{
        padding:0 10px;

        &.item-block .item-inner{
            padding:0;
        }

        .label-ios,.label-md{
            margin:10px 8px 10px 0;
        }
    }

    /* .item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end]{
        margin:9px 0;
    } */
    .note{
        padding-right: 24px;
    }
}