<ion-header>
  <app-header class="app-default-theme-2" [mineHeader]="'normal'" [headerTitle]="header_title"></app-header>
</ion-header>


<ion-content class="app-default-theme-2 content_bg">
  <p text-center>昨天19:35</p>
  <ion-card>
    <ion-card-header><ion-badge class="circle" *ngIf="header_title=='订单通知'">&nbsp;</ion-badge>您的订单已送达</ion-card-header>
    <ion-card-content>
      <p>您在「砂锅粥（福田店）」下的订单已经确认送达。（点击查看详情）</p>
    </ion-card-content>
  </ion-card>
  <p text-center>昨天19:35</p>
  <ion-card>
    <ion-card-header><ion-badge class="circle" *ngIf="header_title=='订单通知'">&nbsp;</ion-badge>您的订单已送达</ion-card-header>
    <ion-card-content>
      <p>您在「砂锅粥（福田店）」下的订单已经确认送达。（点击查看详情）</p>
    </ion-card-content>
  </ion-card>
  <p text-center>10-26 19:35</p>
  <ion-card>
    <ion-card-header><ion-badge class="circle" *ngIf="header_title=='订单通知'">&nbsp;</ion-badge>您的订单已送达</ion-card-header>
    <ion-card-content>
      <p>您在「砂锅粥（福田店）」下的订单已经确认送达。（点击查看详情）</p>
    </ion-card-content>
  </ion-card>
</ion-content>
