<ion-content>
  <div class="cover" (click)="close()"></div>
  <ion-list radio-group [(ngModel)]="selectMenu" class="list_menu">
    <ion-item #search_div class="search">
        <div class="input_search"><ion-icon name="search"></ion-icon>搜索商家、商品名称</div>
    </ion-item>
    <ion-item class="row_type">
      <ion-row #row_type>
          <ion-col class="active" (click)="btn_type('order')">综合排序<ion-icon name="ios-arrow-down"></ion-icon></ion-col>
          <ion-col (click)="btn_type('long')">距离最近</ion-col>
          <ion-col (click)="btn_type('check')">筛选<ion-icon name="ios-funnel-outline"></ion-icon></ion-col>
      </ion-row>
    </ion-item>
    <ion-list class="order_list" *ngIf="type=='order'">
      <ion-item>
        <ion-label>综合排序</ion-label>
        <ion-radio value="0"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>好评优先</ion-label>
        <ion-radio value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>销量最高</ion-label>
        <ion-radio value="2"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>起送价最低</ion-label>
        <ion-radio value="3"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>配送最快</ion-label>
        <ion-radio value="4"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>配送费最低</ion-label>
        <ion-radio value="5"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>人均从低到高</ion-label>
        <ion-radio value="6"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>人均从高到低</ion-label>
        <ion-radio value="7"></ion-radio>
      </ion-item>
    </ion-list>

    <ion-list class="check_list" *ngIf="type=='check'">
      <ion-item>

      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
